.App {
  text-align: left;
}

.header {
  background-color: rgb(255, 237, 237);
  height: 125px;
  padding: 20px;
  display: flex;
  align-items: center;
}

.dropdown {
  margin: 10px;
  display: inline-block;
}

.dropdown-toggle {
  background-color: rgb(228, 59, 59) !important;
  border: none !important;
}

.plot-container {
  text-align: center;
  margin: 20px
}
